- form_for(@story) do |f|
  /= f.error_messages
  %p
    = f.label :text, "Start your story here", :class => "colon"
    %br
    - text_area_opts = {:rows => 4, :cols => 70, :tabIndex => 0}
    = f.text_area :text, text_area_opts
  %p
    = f.submit "Create"

= link_to 'Back', stories_path
