%h1 Pending stories
%table
  %tr
    %th
      Text
    %th
      User
  - for story in @stories
    %tr
      %td
        =h story.text
      %td
        =h story.user_id
      %td
        = button_put 'Approve', approve_story_path(story)
      %td
        = button_put 'Reject', reject_story_path(story)
      %td
        = button_put 'Spam', mark_as_spam_story_path(story)
%br
= link_to 'New story', new_story_path
